@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

@font-face {
    font-family: 'minhafont';
    src: url(../fontes/IDroid.otf);
}

body {
    background-color: rgba(0, 0, 0, 0.71);
    background-position: fixed;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 150;
    text-align: center;
    padding-top: 40px;

}
.cabecalho {
    margin: 0;
    background-image:linear-gradient(to bottom, rgb(79, 209, 79), rgba(4, 5, 4, 0.585));
}

.tituloprincipal {
    font-family: 'minhafont';
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
}

.paragrafo1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;

}
.links{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    padding: 3px;
    font-size: .9em;

    min-width: 600;
}
.links:hover {
    background-color: aquamarine;
    border-radius: 5px;
    transition-duration: .7s;
    color: rgb(0, 0, 0) ;
}
.titulosemiprincipal{
    margin-top: 20px;
    background-color: rgba(24, 20, 20, 0.288);
    font-family: 'minhafont';
    padding: 10px;
    border-radius: 5px;
}
h2 {
    background-color: rgba(24, 20, 20, 0.288);
    font-family: 'minhafont';
    padding: 10px;
    border-radius: 5px;
}
main {
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 0px 0px 0px 0px;

    min-height: 320px;
    max-width: 980px;
    padding: 10px;
    margin-bottom: 30px;
}
.bugdroid{
    max-width: 350px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

img {
    width: 100%;
}
.videos {
    padding: 5px;
    max-width:300px;
    box-shadow: 0px 1px 10px;
    border-top: solid greenyellow;
    border-bottom: solid greenyellow;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.videos {
    min-height:auto;
}
p { 
    margin: 15px 0px;
    line-height: 1.2em;
    text-align: justify;
    padding: 5px;
}
.pp {
    margin: 15px 0px;
    line-height: 1.2em;
    text-align: justify;
    padding: 5px;
    text-indent: 30px
}
 aside ul {
    list-style-type:'\2714\00A0\00A0';
    list-style-position:inside;
    columns: 2;
}

ul > li {
    padding: 5px;
}

.linksterno {
    padding: 1px 2px;
    background-color: gold;
    border-radius: 5px;
    text-decoration: none;

    color: white;
}

.linksterno:hover{
    color: rgba(241, 37, 10, 0.733);
}

h3 {
    margin-top: 20px;
    padding: 10px;
    display: block;
    font-size: 1.5em;
    border-radius: 5px;

    background-color: rgba(34, 29, 29, 0.315);
    font-family: 'minhafont';
}
nav a {
    text-decoration: 0;
}
 nav .redes {
    display: inline-flex;
    width: 30px;
    height: 30px;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 50px;
    margin: 0px 5px;
 }
 nav .redes:hover {
    background-color: rgb(21, 10, 145);
    color: rgb(49, 206, 25);
    transform: scale(1.0) rotate(20deg);
    font-size: 1em;
 }
 .minha-foto {
  width: 250px;
  height: 400px;
  min-width: 250px;
  max-height: 320px;
  border-radius: 50%;
  transition: 2s;
 }
 .minha-foto:hover {
    border-radius:10px;
    padding: 5PX;
    transition: 2s;
 }
 .perfil {
    display: flex;
 }
 .tabela {
    height: auto;
    width: 100%;
    background-color: aquamarine;
 }
 .comentario {
    position: relative;
    text-align: center;
    top:140px;
    padding-left: 15px;
 }